/*************************
****** OverFlowAuto ******
*************************/
/* .sf-main-selector {
  width: 100%;
  height: 100vh;
  background-color:lightblue;
}

.sf-bigger-element {
  margin: auto;
  padding: 20px 0;
  width: 500px;
  height: 100px;
  overflow: auto;
  background-color: lightcoral;
}

.test-of {
  background-color: lightgreen;
  margin: auto;
  width: 50%;
  height: 40px;
  border: 2px dashed;

} */

.sf-main-selector {
  width: 800px;
  margin: auto;
}

.sf-main-title {
  text-align: center;
}