.test-mui {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

// .custom-links-mui {
//   color: red !important;
//   margin-left: 20px !important;
//   &:hover {
//     text-decoration: none !important;
//   }
// }
